<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Attendance System Using Face Recognition</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <div class="container">
        <h1>Attendance System Using Face Recognition</h1>
        <a href="register.html" onclick="openRegisterPage()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            REGISTER
        </a>
        <a href="#" id="markAttendanceButton">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            MARK ATTENDANCE
        </a>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            SHOW ATTENDANCE
        </a>
    </div>

    <script src="script.js"></script>
    <script>
        // JavaScript code to handle the "MARK ATTENDANCE" button click event
        $(document).ready(function() {
            $("#markAttendanceButton").click(function() {
                // Make an asynchronous POST request to the /mark_attendance endpoint
                $.ajax({
                    type: "POST",
                    url: "/mark_attendance",
                    success: function(response) {
                        console.log("Attendance marked successfully");
                    },
                    error: function(error) {
                        console.error("Failed to mark attendance:", error);
                    }
                });
            });
        });
    </script>
</body>
</html>
